<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>JingleJoy | Home</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
{% load static %}
    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'css/pogo-slider.min.css' %}">
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
	  integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">   
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script>
		$(document).ready(function(){
			// Add active class when first loaded to all options
			$("#all").addClass("active");
	
			$('.filter-button').click(function(){
				var value = $(this).attr('id');
				if(value == "all") {
					$('.item').show('1000');
				} else {
					$(".item").not('.'+value).hide('3000');
					$('.item').filter('.'+value).show('3000');
				}
				// Change active class on selection
				$('.filter-button').removeClass('active');
				$(this).addClass('active');
			});
		});
	</script>
	
		

</head>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

	
	
	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="index.html">JingleJoy</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
                        <li><a class="nav-link" href="#b-deals">Best deals</a></li>
						<li><a class="nav-link" href="#contact">Contact</a></li>
						{% if uid %}
						<li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
						<li><a class="nav-link" href="#">{{user.name}}</a></li>
						<li><a class="nav-link" href="{% url 'cart_view' %}">cart</a></li>
						{% else %}
						<li><a class="nav-link" href="{% url 'login' %}">Login</a></li>
						{% endif %}
                    </ul>
                </div>
            </div>
        </nav>
	</header>
	<!-- End header -->
	
	<!-- Start Banner -->
	<div class="ulockd-home-slider">
		<div class="container-fluid">
			<div class="row">
				<div class="pogoSlider" id="js-main-slider">
					<div class="pogoSlider-slide"></div>

				</div><!-- .pogoSlider -->
			</div>
		</div>
	</div>
	<!-- End Banner -->
	
	<!-- wish -->
	<div id="wish" class="about-box" style="padding-bottom: 0;">
		<div class="about-a1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title-box">
							<h2>Best Wishes</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							
							<div class="col-lg-6 col-md-6 col-sm-12 text_align_center">
						      <div class="full">
						      	  <img class="img-responsive" src="{% static 'images/w1.png' %}" alt="#" />
						      </div>
							</div>

                              <div class="col-lg-6 col-md-6 col-sm-12">
								<h2><img style="width: 60px;" src="{% static 'images/head_s.png' %}" alt="#" />JingleJoy Team Wishes</h2>
								<p>As the holiday season approaches, I wanted to take a moment to send my warmest Christmas wishes to you and your loved ones. May this magical season fill your home with joy, your heart with love, and your life with laughter...</p><br>
								<p>May the spirit of Christmas bring you peace and happiness, and may the New Year be filled with countless blessings and opportunities. Here’s to making beautiful memories, cherishing special moments, and spreading kindness and goodwill. Merry Christmas and a Happy New Year!</p>
								
							</div>

						</div>
					</div>
				</div>
			</div>
		</div> 
		<div class="about-a1" style="background:#f7f7f7;margin-top: 50px;padding-top: 75px;padding-bottom: 50px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
						
                            <div class="col-lg-6 col-md-6 col-sm-12">
								<h2><img style="width: 60px;" src="{% static 'images/head_s.png' %}" alt="#" /> JingleJoy Team Wishes</h2>
								<p>As we gather around with family and friends, I wanted to take a moment to send you my warmest Christmas wishes. May this festive season be a time of love, joy, and peace for you and your loved ones. May your home be filled with the magic and wonder of Christmas, and may your heart be warmed by the spirit of the season.<br><br> Here's to creating cherished memories, sharing laughter, and spreading happiness. Wishing you a Merry Christmas and a New Year filled with hope, health, and prosperity.</p>
								
							</div>

							<div class="col-lg-6 col-md-6 col-sm-12 text_align_center">
						      <div class="full">
						      	  <img class="img-responsive" src="{% static 'images/w2.png' %}" alt="#" />
						      </div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- wish us -->
	
	<!-- best deals -->
	<div id="b-deals" class="services-box main-timeline-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Best Deals</h2>
					</div>
				</div>
			</div>
	
			<div class="row">
					<section id="foodies" class="my-5">
						<div class="container my-5 py-5">
							<div class="section-header d-md-flex justify-content-between align-items-center">
								<div class="mb-4 mb-md-0">
									<p class="m-0">
										<a class="filter-button me-4 " id="all" >ALL</a>
										{% for cat in categories %}
										<a class="filter-button me-4" id="{{cat.id}}" >{{cat.title}}</a>
										{% endfor %}
									</p>
								</div>
							</div><br><br>
	
							<div class="isotope-container row">
								{% for product in products %}
								<div class="item {{ product.category.id }} col-md-5 col-lg-3 my-4" >
									<!-- <div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
										New
									</div> -->
									<div class="card position-relative">
										<a href="{% url 'single-product' product.id %}"><img src="{{product.image.url}}" class="img-fluid rounded-4" alt="image" style="height:200px;width:100%"></a>
										<div class="card-body p-0">
											<a href="{% url 'single-product' product.id %}">
												<h3 class="card-title pt-4 m-0" style="padding-left: 10px;max-width: 300px; overflow: hidden; text-overflow: ellipsis;font-size:20px;">{{ product.title}}</h3>
											</a>
	
											<div class="card-text">
												
	
													<h3 class="secondary-font text-primary" style="font-size:15px;padding-left: 20px;">Price : {{ product.price }}</h3>
	
												<div class="d-flex flex-wrap mt-3" style="padding-left: 40px;padding-bottom: 30px;height:50px">
													<a href="{% url 'single-product' product.id %}" class="btn-cart me-3 px-4 pt-3 pb-3" style="height:40px;">
														<h5 class="text-uppercase m-0" style="font-size:15px;">View Product</h5>
													</a>
													<br><br>
												</div>
											</div>
	
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</section>
			</div>
		</div>
	</div>
	
	
	<!-- best deals -->

	
	
	<!-- contact -->
	<div id="contact" class="contact-box" style="background: #f7f7f7;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Contact us</h2>
					</div>
				</div>
			</div>
			<div class="row">
				
				<div class="col-lg-7 col-sm-7 col-xs-12">
				  <div class="contact-block">
					<form id="contactForm">
					  <div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
								<div class="help-block with-errors"></div>
							</div>                                 
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" placeholder="Your number" id="number" class="form-control" name="number" required data-error="Please enter your number">
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group"> 
								<textarea class="form-control" id="message" placeholder="Your Message" rows="8" data-error="Write your message" required></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="submit-button text-center">
								<button class="btn btn-common" id="submit" type="submit">Send Message</button>
								<div id="msgSubmit" class="h3 text-center hidden"></div> 
								<div class="clearfix"></div> 
							</div>
						</div>
					  </div>            
					</form>
				  </div>
				</div>


				<div class="col-lg-5 col-sm-5 col-xs-12">
					<div class="left-contact">
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-location-arrow" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Address</h4>
								<p>Fleming 196 Woodside Circle Mobile, FL 36602</p>
							</div>
						</div>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Email</h4>
								<a href="#">JingleJoy@gmail.com</a><br>
								<a href="#">JingleJoy@gmail.com</a>
							</div>
						</div>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Phone Number</h4>
								<a href="#">12345 67890</a><br>
								<a href="#">12345 67890</a>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
	<!-- end contact -->
	
	
	
	<!-- Start Footer -->
	<footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">All Rights Reserved. &copy; 2024 <a href="#">JingleJoy</a></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->
	
	<a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>


	<!-- ALL JS FILES -->
	<script src="{% static ' js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.pogo-slider.min.js' %}"></script> 
	<script src="{% static 'js/slider-index.js' %}"></script>
	<script src="{% static 'js/smoothscroll.js' %}"></script>
	<script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
	<script src="{% static 'js/isotope.min.js' %}"></script>	
	<script src="{% static 'js/images-loded.min.js' %}"></script>	
    <script src="{% static 'js/custom.js' %}"></script>
	
	<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
	  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
	  crossorigin="anonymous"></script>
	<script src="{% static 'js/plugins.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
</html>