<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>JingleJoy | Register</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
{% load static %}
    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'css/pogo-slider.min.css' %}">
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    

</head>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

	
	
	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="index.html">JingleJoy</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li><a class="nav-link" href="{% url 'home' %}">Best deals</a></li>
						<li><a class="nav-link" href="{% url 'home' %}">Contact</a></li>
						<li><a class="nav-link active" href="{% url 'login' %}">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
	</header>
	<!-- End header -->
	
	<!-- register form start -->
	
	
	<div class="wrapper">
		<div class="inner">
			{% if error_msg %}
			<p class="warning">{{ error_msg }}</p>
			{% endif %}
			<form action="#" method="post">
				{% csrf_token %}
				<h3>Register</h3>
				<div class="form-wrapper">
					<label for="">Name</label>
					<input type="text" class="form-control" name="name">
				</div>	
				<div class="form-wrapper">
					<label for="">Email</label>
					<input type="text" class="form-control" name="email">
				</div>
				<div class="form-wrapper">
					<label for="">Password</label>
					<input type="password" class="form-control" name="password">
				</div>
				<div class="form-wrapper">
					<label for="">Confirm Password</label>
					<input type="password" class="form-control" name="repassword">
				</div>
				<button>Register</button>
				<!-- <input type="submit" name="submit"  value="Register"> -->
				<a href="{%url 'login' %}">Already have an account?Login now</a>
			</form>
			
		</div>

		
	</div>
	
	
	<!-- register form ends -->
	
	
	<!-- Start Footer -->
	<footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">All Rights Reserved. &copy; 2024 <a href="#">JingleJoy</a></p>				</div>
			</div>
		</div>
	</footer>
	
</body>
</html>